<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
		<h3 class="h3"><a href="{{post.link}}">{{post.title}}</a></h3>
		<span class="text-muted">
			By <a class="author-link" href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
		</span>
		<p>{{post.get_preview}}</p>
		{#
			{% if post.get_thumbnail %}
				<img src="{{post.thumbnail.src}}" />
			{% endif %}
		#}

	{% endblock %}
</article>
